.hBox-backgraound {
    /*-fx-background-color: #ffff;*/
    -fx-background-color: #ffff;
    /*-fx-background-color: #9cd3d3;*/
    /*-fx-opacity: .25;*/
}

.visitablePlaces {
    -fx-background-color: #ffff;
}

.vBox-backgraound {
    -fx-background-color: #9cd3d3;

    /*-fx-opacity: .5;*/
}


.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}
.slider-buttons{
    -fx-opacity: 100;
    -fx-text-fill: "BLACK";
}
.message-SendButton{
      -fx-background-color: #f9e45b;

}